<div class="container">
<a routerLink="/" class="back-btn"><--Назад</a>
<br><br>
  <div class="form form--position">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="name" [(ngModel)]="formData.name" #name="ngModel" required>
      <mat-error *ngIf="name.invalid">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="email" [(ngModel)]="formData.email" #email="ngModel" required email>
      <mat-error *ngIf="email.invalid">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Street</mat-label>
      <input matInput placeholder="street" [(ngModel)]="formData.address.street" #street="ngModel" required>
      <mat-error *ngIf="street.invalid">
        Street is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Suite</mat-label>
      <input matInput placeholder="suite" [(ngModel)]="formData.address.suite" #suite="ngModel" required>
      <mat-error *ngIf="suite.invalid">
        Suite is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>City</mat-label>
      <input matInput placeholder="street" [(ngModel)]="formData.address.city" #city="ngModel" required>
      <mat-error *ngIf="city.invalid">
        City is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Zipcode</mat-label>
      <input matInput placeholder="zipcode" [(ngModel)]="formData.address.zipcode" #zipcode="ngModel" required pattern="[1-9][0-9]{5}">
      <mat-error *ngIf="zipcode.invalid">
        Zipcode is <strong>wrong</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="phone" [(ngModel)]="formData.phone" #phone="ngModel" required pattern="^(\+7|7|8)?[\s\-]?\(?[0-9]{3}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$">
      <mat-error *ngIf="phone.invalid">
        Phone is <strong>wrong</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Website</mat-label>
      <input matInput placeholder="website" [(ngModel)]="formData.website" #website="ngModel" required pattern="http(s?)(:\/\/)((www.)?)(([^.]+)\.)?([a-zA-z0-9\-_]+)(.)([a-z]{1,})(\/[^\s]*)?">
      <mat-error *ngIf="website.invalid">
        Website is <strong>wrong</strong>
      </mat-error>
    </mat-form-field>
    <span style="font-size: 20px">Company name: {{formData.company.name}}</span>
  </div>
</div>
